#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#title {
  display: inline-block;
  background-image: url("assets/curvy.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 3rem;
  margin: 2rem;
}

dialog {
  z-index: 20;
  width: 24rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffffa8;
  backdrop-filter: blur(0.5rem);
  border: none;
  margin: auto;
  color: var(--dark-magenta);
}

dialog ol {
  text-align: left;
  padding: 1rem 1.5rem 1rem 3rem;
  font-size: 0.8rem;
}

.directions-btn {
  justify-content: space-between;
}

.tray {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem; */
  margin-bottom: 1rem;
}

.slot {
  box-sizing: border-box;
  place-self: center;
  padding: 1.5rem;
  background-color: #c8a5b1;
  border-radius: 0.3rem;
  box-shadow: inset 2px 2px 2px 1px #502a3767;
  height: 7rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border ease-in 50ms;
}

.slot:hover {
  cursor: pointer;
  border: 2px solid var(--dark-magenta);
}

.slot img {
  max-height: 100%;
  filter: drop-shadow(2px 2px #fff);
  transition: transform ease-out 250ms;
}

.slot img:hover {
  transform: rotate(-20deg) scale(130%);
}

.scoreboard {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 2rem 0;
}

.scoreboard div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.scoreboard h2 {
  font-size: 0.9rem;
  font-weight: bold;
}
.scoreboard p {
  color: white;
  font-weight: bold;
}

.game-bar {
  display: flex;
  gap: 2rem;
}

.theme-picker {
  display: flex;
  gap: 0.1rem;
  align-items: center;
}

.theme-picker h3 {
  font-weight: normal;
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

.theme-picker .selected {
  background-color: var(--dark-magenta);
  color: white;
}

.msg-bar {
  padding: 1rem 2rem;
  margin: 2rem 0;
  background-color: var(--dark-magenta);
  color: white;
  text-align: left;
  border-radius: 0.5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.msg-bar p,
.msg-bar h3,
.msg-bar button {
  padding: 0;
  margin: 0;
}

.msg-bar p {
  font-size: 0.8rem;
}

.msg-bar img {
  height: 100%;
  width: 4rem;
}

.msg-bar button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--light-pink);
  background-color: var(--dark-magenta);
  color: var(--light-pink);
  min-width: 20%;
}

.msg-bar button:hover {
  background-color: var(--light-pink);
  color: var(--dark-magenta);
}

footer span {
  display: inline-block;
  height: 36px;
  width: 36px;
  background-image: url("assets/giphy-logo.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -9px 11px;
}
