:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-magenta: #744555;
  --light-pink: #d2b2bd;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--light-pink);
  color: var(--dark-magenta);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  border-radius: 8px;
  border: 1px solid var(--dark-magenta);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--dark-magenta);
  background-color: var(--light-pink);
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}
button:hover {
  background-color: var(--dark-magenta);
  color: white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
